body {
    margin:             0px; 
    padding:            0px;
    font-family:        sans-serif;
}

game, game * {
    position:           absolute;
    display:            block;
    box-sizing:         border-box;
    background-repeat:  no-repeat;
}

game {
    width:              100vw;
    height:             100vh;
    background-image:   url('../images/background_1440x741.png');
}

kikker-component {
    width:              261px;
    height:             269px;
    background-image:   url('../images/kikker_glow.png');
}

apple-component {
    width:              56px;
    height:             62px;
    background-image:   url('../images/apple.png');
}
bird-component {
    width:              396px;
    height:             268px;
    background-image:   url('../images/bird.png');
}
button-component {
    font-family:        'Permanent Marker', cursive;
    color:              white;
    font-size:          60px; 
    -webkit-text-stroke: 3px #e15349;  
    cursor:             pointer; 
}
.bounding {
    width:              170px;
    height:             20px;
    top:                90px;
    /* background-color: yellow; */
}
/* ---------- START DEBUG PANEL ---------- */
debug-panel {
    position:           absolute;
    top:                10px;
    right:              10px;
}
/* ---------- END DEBUG PANEL ------------ */
