body {
    margin:             0px; 
    padding:            0px;
    font-family:        sans-serif;
}

game, game * {
    position:           absolute;
    display:            block;
    box-sizing:         border-box;
    background-repeat:  no-repeat;
}

.flex-container {
    display:            flex;
    justify-content:    space-around;
}

game {
    width:              1440px;
    height:             741px;
    margin:             auto;
    background-image:   url('../images/background_1440x741.png');
}

kikker-component {
    width:              261px;
    height:             269px;
    background-image:   url('../images/kikker_glow.png');
}

apple-component {
    width:              56px;
    height:             62px;
    background-image:   url('../images/apple.png');
}
bird-component {
    width:              396px;
    height:             268px;
    background-image:   url('../images/bird.png');
}
button-component {
    font-family:        'Permanent Marker', cursive;
    color:              white;
    font-size:          60px; 
    -webkit-text-stroke: 3px #e15349;  
    cursor:             pointer; 
}
textfield {
    font-size:          2em;
    color:            white;
    width:              530px;
    text-shadow:        0px 3px 0px rgba(0,0,0,0.5);
    transform:          translate(20px, 50px);
}
.bounding {
    width:              140px;
    height:             15px;
    top:                90px;
    left:               10px;
    /* background-color: yellow; */
}
apple-score {
    width:              44px;
    top:                25px;
    left:               5px;
    font-size:          1.2em;
    color:              #eeffee;
    text-align: center;
}
/* ---------- START DEBUG PANEL ---------- */
debug-panel {
    position:           absolute;
    top:                10px;
    right:              10px;
}
/* ---------- END DEBUG PANEL ------------ */
